:host {
  display: block;
}

.wrapper {
  position: relative;
}

.sliderSection {
  flex: 1 1 auto;
  float: right;
}

path {
	fill: none;
	stroke: darkgrey;
}

svg {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.line {
  color : red;
}