<div>
  <div class="sliderSection">
    <label>Curves</label>   
    <input #curves (input)="updateCurvesCount()" type="range" min="1" max="50" value="curves.value">
     {{curves.value}}{{curves1}}
  </div>
 
  <div class="sliderSection">
    <label>Elements</label>  
    <input #points (input)="updatePointsCount()" type="range" min="1" max="50" [value]="points">
    {{points.value}}{{points1}}
  </div>
  <beizer-curve [numOfCurves]="curves.value" [numOfPoints]="points.value"></beizer-curve>
</div>